body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-container {
  overflow: hidden;
}

.modals {
  float: right;
}

.no-projects {
  background-color: rgba(235, 235, 235, 0.61);
}

.project-card {
  background-color: rgba(243, 243, 243, 0.61);
}

.table-secondary {
  --bs-table-bg: rgba(243, 243, 243, 0.61);
}

.btn-outline-primary {
  color: #df3ca6 !important;
  border: solid 1px #df3ca6 !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: #df3ca6 !important;
}

.card-small {
  height: 86px;
}

.not-found {
  height: 50vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand {
  padding: 18px 0px;
  color: #df3ca6;
  font-size: 21px;
  font-weight: 600;
}

.navbar-brand img {
  width: 32px;
  margin-right: 10px;
}

.btn {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color: #df3ca6 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #df3ca6;
  opacity: 0.9;
}

.btn-secondary {
  background-color: #7430f9;
}

.btn-secondary:hover {
  background-color: #7430f9;
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}